<% provide(:products, 'active') %>
<% provide(:title, 'Products') %>

<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="page-header">
        <h1>Products</h1>
      </div>
      <p>
        <%= button_to new_product_path, method: :get, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Add product
        <% end %>
      </p>

      <% if @products.empty? %>
        <b>No products in store</b>
      <% else %>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
           <tr class="warning">
              <th>ID</th>
              <th>Product</th>
              <th>Description</th>
              <th>Category</th>
              <th>Price</th>
              <th>Available</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <% @products.each do |i| %>

            <tbody>
              <tr class="info">
                <td><%= i.id %></td>
                <td>
                    <p><%= image_tag(i.photo) if i.photo? %></p>
                    <p id="name_product"><%= link_to i.name, product_path(i) %></p>
                </td>
                <td><%= link_to i.description, product_path(i) %></td>
                <td><%= i.category.category if i.category %></td>
                <td id="price"><%= i.price %>$</td>
                <td><%= i.available ? 'Yes' : 'No' %></td>
                <td>
                  <%= button_to 'Edit', edit_product_path(i),
                          method: :get, class: "btn btn-success btn-xs" %>
                </td>
                <td>
                  <%= button_to 'Delete', product_path(i),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, 
                        class: "btn btn-danger btn-xs" %>
                </td>
              </tr>
            </tbody>
          <% end %>

        </table>
        </div>
      <% end %>

      <div id="paginate-centre">
        <%= will_paginate %>
      </div>
      
      <p>
        <%= button_to 'Back', admins_path, method: :get, class: "btn btn-default" %>
      </p>

    </div>
  </div>
</div>