<% provide(:goods, 'active') %>
<% provide(:title, 'Goods') %>


<div class="container">
  <div class="page-header">
    <h1>Products</h1>
  </div>

  <p><%= link_to 'Add product', new_product_path %></p>
  
  <div class="row">
    <div class="col-sm-10 col-md-8 sidebar">
      <% if @products.empty? %>
        <b>No products in store</b>
      <% else %>

        <div class="table-responsive">
          <table class="table ">
            <tbody>

              <% @products.each do |i| %>

                <tr>
               
                  <td><%= image_tag(i.photo_url(:thumb)) if i.photo? %> </td>
                  <td>
                    <p><%= link_to i.name, product_path(i) %></p>
                    <p><%= link_to i.description, product_path(i) %></p>
                    <p><%= button_to 'Edit', edit_product_path(i),
                      method: :get %></p>
                  </td>
                  <td>
                    <p><%= i.price %>$</p>
                    <p><%= button_to 'Add to cart', carts_path,
                        method: :post, params: { good_name: i.name, id: i.id, price: i.price } %></p>
                  </td>

                </tr>

              <% end %>
            </tbody>
          </table>
        </div>
        <div id="paginate-centre"><%= will_paginate %></div>
      <% end %>
    </div>
  </div>
  <h3><%= link_to 'back', products_path %></h3>
</div>