<div class="container"> 
  <div class="col-sm-12 col-md-12">
    <div class="page-header">
      <h1 id="name_product"><%= @product.name %></h1>
    </div>
    <p><%= image_tag(@product.photo_url) if @product.photo? %></p>
    <ul>
      <li>Description: <%= @product.description %></li>
      <li id="price">Price: <%= @product.price %>$</li>
      <li>Available: <%= @product.available ? 'Yes' : 'No' %></li>
    </ul>

    <h3><%= link_to 'Back', :back %></h3>

  </div>
</div>