<% provide(:title, @product.name ) %>

<div class="container-fluid"> 
  <div class="row">

    <%= render 'shared/side_bar' %>

    <div class="col-sm-9 col-md-10">

    <div class="container">
      <div class="page-header">
        <h1 id="name_product"><%= @product.name %></h1>
      </div>

      <p><%= image_tag(@product.photo_url) if @product.photo? %></p>
      <ul>
        <li>Description: <%= @product.description %></li>
        <li id="price">Price: <%= @product.price %>$</li>
        <li>Available: <%= @product.available ? 'Yes' : 'No' %></li>
      </ul>
      
      <%= link_to products_orders_path(product_id: @product, price: @product.price), method: :post, class: "btn btn-primary btn-sm" do %>
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Add to cart
      <% end %>
      
      <%= link_to 'Back', :back, class: "btn btn-default btn-sm" %>
    </div>
    
  </div>
</div>