<!DOCTYPE html>
<html>
    <head>
      <title><%= yield(:goods)%> | Store</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Мониторы</a></li>
                    <li><a href="#">Процессоры</a></li>
                    <li><a href="#">Видеокарты</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Ноутбуки</a></li>
                    <li><a href="">Телевизоры</a></li>
                    <li><a href="">Стиральные машины</a></li>
                    <li><a href="">Холодильники</a></li>
                    <li><a href="">Телефоны</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Видео</a></li>
                    <li><a href="">Аудио</a></li>
                    <li><a href="">Разное</a></li>
                </ul>
            </div>

            <%= render 'shared/navbar' %>
            <div class='main-page-content <%= controller.controller_name %>'>
                <%= yield %>
            </div>
            
        </div>

        <footer>
          <p>&copy; Company 2015</p>
        </footer>

    </body>
</html>
